<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65252479046-fhgmiecs05433v0k6d0rn9g81oegvfbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65252479046-fhgmiecs05433v0k6d0rn9g81oegvfbm</string>
	<key>API_KEY</key>
	<string>AIzaSyD4CJY5i_sAc0QKlkL0fMDjVY_7IuwDlbY</string>
	<key>GCM_SENDER_ID</key>
	<string>65252479046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameapp</string>
	<key>PROJECT_ID</key>
	<string>gameapp-bb597</string>
	<key>STORAGE_BUCKET</key>
	<string>gameapp-bb597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65252479046:ios:766d337375a231fd21fa47</string>
</dict>
</plist>